body{
  background: url('../images/bg.jpg');
  background-size: cover;
}

h3{
    text-align: center;
    -webkit-user-select: none;
}
.add{
    background:rgba(0,0,0,0.8);
    cursor: pointer;
    text-align: center;
    color:#fff;
}

form{
    padding:10px;border:1px solid #000;
    border-radius: 5px;
    width:30%;
    position: fixed;left:0;right:0;top:0;
    bottom: 0;margin:auto;
    height:300px;display: none;
}
.submitbtn{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.con{
    width:300px;display: none;
    position: absolute;
    height:280px;left:0;top:0;
}
.con-con{
  width:100%;height:50px!important;overflow-y: scroll!important;
}
